<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="text-align: center;">
  請上傳您的 i18n TXT : <input #fileInput type='file' (change)="fileUpload($event)">
</div>

<br>

<ng-container *ngIf="readyDownload">
  <div style="text-align: center;">
    請輸入功能模組名稱 : <input type='text' [(ngModel)]="modelName">
  </div>

  <br>

  <div style="text-align: center;">

    <button (click)="download('TW')">下載 繁中 語系</button>
    <button (click)="download('CN')">下載 簡中 語系</button>
    <button (click)="download('JP')">下載 日文 語系</button>
    <button (click)="download('US')">下載 英文 語系</button>

  </div>

  <br>
  <div class="bd-example-row">
    <div class="row">
      <div class="col">
        <div style="text-align: center;">中文是我</div>
        <br>
        {{twFormatJson}}
      </div>
      <div class="col">
        <div style="text-align: center;">簡中是我</div>
        <br>
        {{cnFormatJson}}
      </div>
      <div class="col">
        <div style="text-align: center;">日文是我</div>
        <br>
        {{jpFormatJson}}
      </div>
      <div class="col">
        <div style="text-align: center;">英文是我</div>
        <br>
        {{usFormatJson}}
      </div>
    </div>
  </div>
</ng-container>

<router-outlet></router-outlet>